# ===== Front (Vite) — valores entram no BUILD =====
VITE_APP_BASE_NAME=/
VITE_API_URL=https://api.SEU-DOMINIO
VITE_APP_VERSION=1.0.0
GENERATE_SOURCEMAP=false
VITE_STRIPE_ENABLED=false
VITE_STRIPE_PUBLISHABLE_KEY=
